.vertical-tabs__add-button {
    width: 24px;
    height: 24px;
    font-size: 12px;
    margin-top: calc(1 * 6px);
    color: var(--font-color-middle-priority)
}

.secondary-report-tabs__close-button-container {
    visibility: hidden;
    position: absolute;
    right: -18px;
    padding-left: 6px;
}

.tab-item:hover .secondary-report-tabs__close-button-container, .secondary-report-tabs__close-button-container:hover { visibility: visible; }
.secondary-report-tabs__tab-item { padding-left: 12px; padding-right: 12px; } 
.secondary-report-tabs__close-button { transform: translate(0, 2px); }
.secondary-report-tabs__tab-content {padding: 8px 0;}
.secondary-report-tabs__tab-item.first { margin-left: 12px; }
