.move-resize-container__thumb-grid {
    display: grid;
    position: absolute;
    align-items: stretch;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-template-columns: auto 1fr auto 1fr auto;
    grid-template-rows: auto 1fr auto 1fr auto;
    pointer-events: none;
    overflow: hidden;
}

.move-resize-container__thumb-grid.moving {
    box-shadow: var(--shadow-elevation-three);
    z-index: 1000;
}

.move-resize-container__thumb-grid:hover .thumb, .move-resize-container__thumb-grid.selected .thumb {
    border-color: #27A9B2;
}

.move-resize-container__thumb-grid:hover .move-resize-container__resize-thumb, .move-resize-container__thumb-grid.selected .move-resize-container__resize-thumb {
    background-color: #27A9B2;
}

.move-resize-container__resize-thumb {
     border-radius: 100px; 
     width: 7px; 
     height: 7px;
     position: relative;
}

.move-resize-container__resize-thumb.thumb_TopLeft {top: -3px; left: -3px;}
.move-resize-container__resize-thumb.thumb_Top {top: -3px; }
.move-resize-container__resize-thumb.thumb_TopRight {top: -3px; right: -3px; }
.move-resize-container__resize-thumb.thumb_Left { left: -3px; }
.move-resize-container__resize-thumb.thumb_Right { right: -3px; }
.move-resize-container__resize-thumb.thumb_BottomLeft { bottom: -3px; left: -3px; }
.move-resize-container__resize-thumb.thumb_Bottom { bottom: -3px;  }
.move-resize-container__resize-thumb.thumb_BottomRight { bottom: -3px; right: -3px; }

.move-resize-container__move-thumb { cursor: move;}

.move-resize-container__move-thumb_horizontal { height: 2px; width: auto;}
.move-resize-container__move-thumb_vertical { width: 2px; height: auto;}

.move-resize-container__move-thumb_top {
    grid-column: 1 / span 5;
    grid-row: 1;
    width: auto;
    height: 6px;
    border-bottom: 2px solid transparent;
    margin-top: -4px;
}

.move-resize-container__move-thumb_bottom {
    grid-column: 1 / span 5;
    grid-row: 5;
    align-self: end;
    width: auto;
    height: 6px;
    margin-bottom: -4px;
    border-top: 2px solid transparent;
}

.move-resize-container__move-thumb_right {
    grid-column: 5;
    grid-row: 1 / span 5;
    height: auto;
    width: 6px;
    margin-right: -4px;
    justify-self: end;
    border-left: 2px solid transparent;
}

.move-resize-container__move-thumb_left {
    grid-column: 1;
    grid-row: 1 / span 5;
    height: auto;
    width: 6px;
    border-right: 2px solid transparent;
    margin-left: -4px;
}

