.empty-state-placeholder__caption { color: var(--font-color-middle-priority); }
.grid .empty-state-placeholder {
    grid-row: 2 / span 100;
    grid-column: 1 / span 100;
    align-self: center;
    justify-self: center;
}
