.session-dashboard { background: #2a2a2a; border-radius: 4px; box-shadow: var(--shadow-elevation-two); overflow-x: auto; }
.session-dashboard__player-dialog { flex-grow: 1}
.session-dashboard__session-report-player-header { padding: 8px 24px; background: var(--primary-color); white-space: nowrap;}
.session-dashboard__session-report-filter-header { padding: 8px 24px;background: #212121; white-space: nowrap;}
.session-dashboard__pages { border-radius: 4px; overflow-x: auto; flex-shrink: 0; }
.session-dashboard__session-report { --header__background: #212121; background: #212121; min-width: 400px; }
.session-dashboard__page { max-width: 820px;}
.session-dashboard__page_last { max-width: none; flex-grow: 1;}

.session-dashboard-navigation { background: #212121; position: relative; flex-shrink: 0;}
.session-dashboard-navigation:after {
    content: "";
    position: absolute; top: 0; left: 0; height: 100%; width: 100%;
    border-right: 1px solid var(--border-color);
    z-index: 10000;
    pointer-events: none;
}
.session-dashboard-navigation__header{ padding: 16px 12px 16px 24px;}
.session-dashboard-navigation__header-text { font-size: var(--header-two-font-size); font-weight: var(--header-two-font-weight); margin-bottom: var(--header-two-margin-bottom); }

.session-dashboard-page { gap: 16px; padding: 8px 0;}
.session-dashboard-page:last-child {flex-grow: 1;}
.session-dashboard-page__header { padding: 8px 12px; align-items: center; gap: 8px;}
.session-dashboard-page__relevant-stat-report { padding: 0px 24px; }
.session-dashboard-page__winning-graph-report{padding: 0px 24px;}
.session-dashboard-page__close-button { margin-right: 8px;}
.session-dashboard-page__refresh-button { margin-right: 8px;}
.session-dashboard__root-loader { align-self: center; flex-grow: 1;}
.session-dashboard-page__loader { width: 100%;}

.session-dashboard-page-header {
    display: flex;
    gap: 8px;
}
.session-dashboard-page-header__entry-name { transform: translate(0, -2px);}

.session-live-marker {
    text-transform: uppercase;
    color: white;
    font-size: 11px;
    background: #C60D0D;
    border-radius: 4px;
    padding: 4px 8px;
    /*important to avoid transparity when the Sessions tab is not active*/
    opacity: 1 !important;
}
.session-live-marker_style_default { display: flex; gap: 6px; align-items: center;}
.session-live-marker_style_default:before {
    content: "";
    background: white;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    transform: translate(0, 1px);
}
.session-live-marker_style_micro { width: 5px; height: 5px; border-radius: 10px; padding: 0; align-self: center; transform: translate(0, 1px);}
.main-window__session-tab-item_live {position: relative;}
.main-window__session-tab-item_live:after {
    background: #C60D0D;
    content: var(--live-marker-content);
    position: absolute; 
    left: 16px;
    top: 4px;
    padding: 2px 4px;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    color: white;
}

